.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.auto.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
tfplan.*
plan.txt
plan.public.txt
state-addresses.txt
